{% extends "GestionHeuresAbsences/base.html" %}
{% block page_content %}
<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="header">
                    <h2><strong>Liste des absences</strong></h2>
                    <ul class="header-dropdown">
                        <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="javascript:void(0);">Action</a></li>
                                <li><a href="javascript:void(0);">Another action</a></li>
                                <li><a href="javascript:void(0);">Something else</a></li>
                            </ul>
                        </li>
                        <li class="remove">
                            <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                        </li>
                    </ul>
                </div>

                <div class="body">
                    <h6 class="row mb-2"><u>Informations de l'étudiant</u></h6>
                    <dl class="row">
                        <dt class="col-sm-3">Matricule</dt>
                        <dd class="col-sm-9">{{eleves.matricule_E}}</dd>
                        <dt class="col-sm-3">Nom</dt>
                        <dd class="col-sm-9">{{eleves.nom_E}}</dd>
                        <dt class="col-sm-3">Prenoms</dt>
                        <dd class="col-sm-9">{{eleves.prenoms_E}}</dd>
                        <dt class="col-sm-3">Sexe</dt>
                        <dd class="col-sm-9">{{eleves.sexe_E}}</dd>
                        <dt class="col-sm-3">Classe</dt>
                        <dd class="col-sm-9">{{eleves.classe}}</dd>
                    </dl>
                    <div class="row table-responsive ">
                        <table class="table table-striped">
                            <thead>
                                <tr class="table-primary">
                                    <th>Date de l'absence</th>
                                    <th>Nombre d'heures de l'absence</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for absence in absences %}
                                  <tr>
                                      <td>{{absence.date_A}}</td>
                                      <td>{{absence.nombre_heures_A}}</td>
                                  </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock page_content %}