{% extends "GestionHeuresAbsences/base.html" %}
{% block page_content %}
<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="header">
                    <h2><strong>Liste des Etudiants</strong></h2>
                    <ul class="header-dropdown">
                        <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="javascript:void(0);">Action</a></li>
                                <li><a href="javascript:void(0);">Another action</a></li>
                                <li><a href="javascript:void(0);">Something else</a></li>
                            </ul>
                        </li>
                        <li class="remove">
                            <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <a href="{% url 'GestionHeuresAbsences:eleve_create'%}" class="btn btn-sm btn-info">
                                <i class="zmdi zmdi-plus"></i> Ajouter un Etudiant</a>
                        </div>
                    </div>
                    <div class="row table-responsive ">
                        <table class="table table-striped">
                            <thead>
                                <tr class="table-primary">
                                    <th>Matricule</th>
                                    <th>Nom</th>
                                    <th>Prenoms</th>
                                    <th>Sexe</th>
                                    <th>Classe</th>
                                    <th class="float-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for eleve in eleves %}
                                  <tr>
                                      <td>{{eleve.matricule_E}}</td>
                                      <td>{{eleve.nom_E}}</td>
                                      <td>{{eleve.prenoms_E}}</td>
                                      <td>{{eleve.sexe_E}}</td>
                                      <td>{{eleve.classe}}</td>
                                      <td class="float-right">
                                          <a href="{% url 'GestionHeuresAbsences:eleve_update' id=eleve.id %}" class="btn btn-warning btn-sm">Modifier</a>
                                          <a href="{% url 'GestionHeuresAbsences:eleve_delete' id=eleve.id %}" class="btn btn-danger btn-sm">Supprimer</a>
                                      </td>
                                  </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock page_content %}